@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
  

<style>
    .md-img-5 img {
        width: 250px;
        height: 200px;
        justify-items: center;
        margin-top: 70px;
        border: 1px solid black;
        column-gap: 5px;
        row-gap: 10px;
    }

    .mdf2 {
        margin-left: 12%;
        margin-top: 20px;
        font-family: Georgia;
    }

        .mdf2:hover {
            z-index: auto;
            cursor: pointer;
            color: lawngreen;
        }

    .main-itam {
        display: grid;
        grid-template-columns: 300px 300px 300px 300px;
        grid-template-rows: 350px 350px 350px 50px 350px 350px 350px 350px 350px 350px 350px 350px 350px 350px 350px 350px 350px 350px;
        justify-items: center;
        height: 100%;
        margin-left: 3%;
        margin-top: 50px;
        border: 1px solid black;
    } 

    h3{  position:absolute;
        
        left:20%;
        font-weight:700;
    }
</style>
<h3 class="mdf2">Buy Two Items And Get Uoto 30% Off </h3>
<div class="main-itam">

    <div class="md-img-5">
        <img src="~/pexels-jane-doan-793759.jpg" />
        <div class="desc-2">
            FrenchFries_

            Rs:800
            <br />
            <a class="buy-btn" asp-area"" asp-controller="User" asp-action="Purchas"> </a>
        </div>
    </div>
    <div class="md-img-5">
        <img src="~/pexels-jonathan-borba-2983101.jpg" />
        <div class="desc-2">
            FrenchFries_

            Rs:800
        </div>
    </div>
    <div class="md-img-5">
        <img src="~/pexels-abhinav-goswami-291528.jpg" />
        <div class="desc-2">
            FrenchFries_

            Rs:800
        </div>
    </div>
    <div class="md-img-5">
        <img src="~/pexels-lisa-fotios-1279330.jpg" />
        <div class="desc-2">
            FrenchFries_

            Rs:800
        </div>
    </div>
    <div class="md-img-5">
        <img src="~/pexels-marta-branco-1295572.jpg" />
        <div class="desc-2">
            FrenchFries_

            Rs:800
        </div>
    </div>
    <div class="md-img-5">
        <img src="~/pexels-nerfee-mirandilla-3186654.jpg" />
        <div class="desc-2">
            FrenchFries_

            Rs:800
        </div>
    </div>
    <div class="md-img-5">
        <img src="~/pexels-sydney-troxell-718742.jpg" />
        <div class="desc-2">
            FrenchFries_

            Rs:800
        </div>
    </div>
    <div class="md-img-5">
        <img src="~/topdivpizza-removebg-preview.png" />
        <div class="desc-2">
            FrenchFries_

            Rs:800
        </div>
    </div>
    <div class="md-img-5">
        <img src="~/pexels-abhinav-goswami-291528.jpg" />
        <div class="desc-2">
            FrenchFries_

            Rs:800
        </div>
    </div>
    <div class="md-img-5">
        <img src="~/pexels-abhinav-goswami-291528.jpg" />
        <div class="desc-2">
            FrenchFries_

            Rs:800
        </div>
    </div>
    <div class="md-img-5">
        <img src="~/pexels-abhinav-goswami-291528.jpg" />
        <div class="desc-2">
            FrenchFries_

            Rs:800
        </div>
    </div>
    <div class="md-img-5">
        <img src="~/pexels-abhinav-goswami-291528.jpg" />
        <div class="desc-2">
            FrenchFries_

            Rs:800
        </div>
    </div>
    <div class="md-img-5">
        <img src="~/pexels-abhinav-goswami-291528.jpg" />
        <div class="desc-2">
            FrenchFries_

            Rs:800
        </div>
    </div>
    <div class="md-img-5">
        <img src="~/pexels-abhinav-goswami-291528.jpg" />
        <div class="desc-2">
            FrenchFries_

            Rs:800
        </div>
    </div>
    <div class="md-img-5">
        <img src="~/pexels-abhinav-goswami-291528.jpg" />
        <div class="desc-2">
            FrenchFries_

            Rs:800
        </div>
    </div>
    <div class="md-img-5">
        <img src="~/pexels-abhinav-goswami-291528.jpg" />
        <div class="desc-2">
            FrenchFries_

            Rs:800
        </div>
    </div>
   
</div>
