@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<style>
     .pr-div
     {
         height:560px;
         width:40%;
         margin-left:34%;
         border:2px solid black;
         border-radius:15px;
     }

    .inbox img {
          position :absolute;
          left:55%;
          top:46%;
          height :80px;
          width:110px;

      }

    .inbox p {
      position:absolute;
      left:43%;
      top:40%;
      font-family: 'Global Sans Serif';
      font-size: 30px;
       color:black;
      }

    .inbox h4 {
            position: absolute;
            left: 43%;
            top: 49%;
            font-family: 'Global Sans Serif';
            font-size: 30px;
            color: black;
        }
   

    .inbox h3 {
        position: absolute;
        left: 41%;
        top: 25%;
        font-family: 'Global Sans Serif';
        font-size: 45px;
        color: black;
    } 

</style>


<div class="pr-div">
    
    <div class="inbox">
    <a  asp-controller="Page" asp-action="Create"><img src="~/create-concept-line-icon-simple-element-illustration-create-concept-outline-symbol-design-free-vector-removebg-preview.png" /> </a>
   
    
    <p>Ops You Have No Profile</p>
     <h4>Create Your Profile</h4>
    <h3>Here Is Your Peofile</h3>
    </div>
</div>
  